# Ignore temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore editor/IDE folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
